@model IEnumerable<ClothesListingServiceModel>

@{
    ViewData["Title"] = "Home Page";
}

<br />
@if (User.IsInRole(AdministratorRole))
{
    <a asp-controller="Clothes" asp-action="Add" class="btn btn-primary">Add product</a>
}

<br /><br />

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @if (Context.Request.Query["sort"] == "name")
                        {
                            @if (Context.Request.Query["order"] != OrderAscending)
                            {
                                <a asp-route-sort="name" asp-route-order="@OrderAscending">Name</a>
                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            }
                            @if (Context.Request.Query["order"] != OrderDescending)
                            {
                                <a asp-route-sort="name" asp-route-order="@OrderDescending">Name</a>
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                        else
                        {
                            <a asp-route-sort="name" asp-route-order="@OrderAscending">Name</a>
                        }
                    </th>
                    <th>
                        @if (Context.Request.Query["sort"] == "type")
                        {
                            @if (Context.Request.Query["order"] != OrderAscending)
                            {
                                <a asp-route-sort="type" asp-route-order="@OrderAscending">Type</a>
                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            }
                            @if (Context.Request.Query["order"] != OrderDescending)
                            {
                                <a asp-route-sort="type" asp-route-order="@OrderDescending">Type</a>
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                        else
                        {
                            <a asp-route-sort="type" asp-route-order="@OrderAscending">Type</a>
                        }
                    </th>
                    <th>
                        @if (Context.Request.Query["sort"] == "quantity")
                        {
                            @if (Context.Request.Query["order"] != OrderAscending)
                            {
                                <a asp-route-sort="quantity" asp-route-order="@OrderAscending">Quantity</a>
                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            }
                            @if (Context.Request.Query["order"] != OrderDescending)
                            {
                                <a asp-route-sort="quantity" asp-route-order="@OrderDescending">Quantity</a>
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                        else
                        {
                            <a asp-route-sort="quantity" asp-route-order="@OrderAscending">Quantity</a>
                        }
                    </th>
                    <th>
                        @if (Context.Request.Query["sort"] == "singlePrice")
                        {
                            @if (Context.Request.Query["order"] != OrderAscending)
                            {
                                <a asp-route-sort="singlePrice" asp-route-order="@OrderAscending">Single Price</a>
                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            }
                            @if (Context.Request.Query["order"] != OrderDescending)
                            {
                                <a asp-route-sort="singlePrice" asp-route-order="@OrderDescending">Single Price</a>
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                        else
                        {
                            <a asp-route-sort="singlePrice" asp-route-order="@OrderAscending">Single Price</a>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var clothes in Model)
                {
                    <tr>
                        <td>
                            @clothes.Name
                        </td>
                        <td>
                            @clothes.Type
                        </td>
                        <td>
                            @clothes.Quantity
                        </td>
                        <td>
                            @clothes.SinglePrice
                        </td>
                        @if (User.IsInRole(AdministratorRole))
                        {
                            <td>
                                <a asp-controller="Clothes" asp-action="Details" asp-route-id="@clothes.Id" class="btn btn-default text-center">Details</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>